ul.circle-list {
  width: 500px;
  height: 500px;
  list-style: none;
  position: relative;
  margin: 0;
}

ul.circle-list li.extra{
  background-color: #999;
}

ul.circle-list li{
  background-color: rgb(223, 111, 12);
  width: 30%;
  height: 30%;
  position: absolute;
  border-radius:50%;
  line-height: 145px;
  text-align: center;
  color:white;
  font-weight: bold;
  font-size: x-large;
}

ul.circle-list.six-items li:nth-child(1),
ul.circle-list.five-items li:nth-child(1) {
  top: 0;
  left: 35%;
}

ul.circle-list.five-items li:nth-child(2) {
  top: 20%;
  left: 5%;
}

ul.circle-list.five-items li:nth-child(3) {
  top: 20%;
  left: 65%;
}

ul.circle-list.five-items li:nth-child(4) {
  top: 52%;
  left: 17%;
}

ul.circle-list.five-items li:nth-child(5) {
  top: 52%;
  left: 53%;
}

ul.circle-list.six-items li:nth-child(2) {
  top: 19%;
  left: 5%;
}

ul.circle-list.six-items li:nth-child(3) {
  top: 19%;
  left: 65%;
}

ul.circle-list.six-items li:nth-child(4) {
  top: 53%;
  left: 5%;
}

ul.circle-list.six-items li:nth-child(5) {
  top: 53%;
  left: 65%;
}

ul.circle-list.six-items li:nth-child(6) {
  top: 74%;
  left: 35%;
}