/**
 * Custom styling for each presentation.
 *
 * Copyright (C) 2016 JWorks - http://www.ordina.be
 */

span.custom-blue {
    color: rgb(55, 157, 248);
}

.reveal pre code {
    margin-left: 0;
}

pre.good{
    border-color:green;
}

pre.bad{
    border-color:red;
}