ul.double-list,
ul.triple-list {
    width: 100%;
    margin: 0;
    font-size: x-large;
}

ul.triple-list > li,
ul.double-list > li{
    width: 50%;
    float: left;
    display: inline-block;
}

ul.triple-list > li{
    width: 33.33%;
}

ul.double-list.left-align > li > ul > li,
ul.triple-list.left-align > li > ul > li{
    text-align:left;
}

ul.triple-list > li > span,
ul.double-list > li > span{
    display: block;
    font-weight: bold;
    width: 350px;
    height: 100px;
    line-height: 100px;
    margin:auto;
    border-radius: 20px 20px 0 0;
    text-align: center;
    color:white;
    background-color: rgb(223, 111, 12);
}

ul.triple-list > li > span{
    width: 300px;
}

ul.triple-list > li > ul,
ul.double-list > li > ul{
    list-style: none;
    margin: 10px auto;
    width: 350px;
    text-align: center;
}

ul.triple-list > li > ul{
    width: 300px;
}


ul.triple-list > li > ul > li,
ul.double-list > li > ul > li{
    margin: 10px 0px 10px -2px;
    width: 90%;
    text-align: center;
    border: 2px solid rgb(223, 111, 12);
    padding: 5%;
}

ul.triple-list > li > ul > li.extra,
ul.double-list > li > ul > li.extra {
        border: 2px solid #999;

}
