#playground{
  width: 800px;
  height: 800px;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  .card{
    position: absolute;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    &.hidden{
      background-color: red;
      background-image: none !important;
    }
  }
  .card:nth-child(1),.card:nth-child(5),.card:nth-child(9){
    left:0;
  }
  .card:nth-child(2),.card:nth-child(6),.card:nth-child(10){
    left:26%;
  }
  .card:nth-child(3),.card:nth-child(7),.card:nth-child(11){
    left:52%;
  }
  .card:nth-child(4),.card:nth-child(8),.card:nth-child(12){
    left:78%;
  }
  .card:nth-child(1),.card:nth-child(2),.card:nth-child(3),.card:nth-child(4){
    top:0;
  }
  .card:nth-child(5),.card:nth-child(6),.card:nth-child(7),.card:nth-child(8){
    top:35%;
  }
  .card:nth-child(9),.card:nth-child(10),.card:nth-child(11),.card:nth-child(12){
    top:69%;
  }
}