#playground {
  width: 800px;
  height: 800px;
  max-width: 100vw;
  max-height: 100vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative; }
  #playground .card {
    position: absolute;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px; }
    #playground .card.hidden {
      background-color: red;
      background-image: none !important; }
  #playground .card:nth-child(1), #playground .card:nth-child(5), #playground .card:nth-child(9) {
    left: 0; }
  #playground .card:nth-child(2), #playground .card:nth-child(6), #playground .card:nth-child(10) {
    left: 26%; }
  #playground .card:nth-child(3), #playground .card:nth-child(7), #playground .card:nth-child(11) {
    left: 52%; }
  #playground .card:nth-child(4), #playground .card:nth-child(8), #playground .card:nth-child(12) {
    left: 78%; }
  #playground .card:nth-child(1), #playground .card:nth-child(2), #playground .card:nth-child(3), #playground .card:nth-child(4) {
    top: 0; }
  #playground .card:nth-child(5), #playground .card:nth-child(6), #playground .card:nth-child(7), #playground .card:nth-child(8) {
    top: 35%; }
  #playground .card:nth-child(9), #playground .card:nth-child(10), #playground .card:nth-child(11), #playground .card:nth-child(12) {
    top: 69%; }

/*# sourceMappingURL=style.css.map */
