@import url("https://fonts.googleapis.com/css?family=Exo");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Exo', sans-serif;
  background-color: black;
  color: yellow;
  perspective: 800px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }

button {
  position: fixed;
  top: 20px;
  left: 20px; }

#people {
  height: 100vh;
  width: 200vw;
  overflow: scroll;
  transform-style: preserve-3d;
  transform-origin: center top;
  transform: rotateX(40deg); }
  #people > .person {
    text-align: center; }

/*# sourceMappingURL=style.css.map */
